<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamseth.cs340.tickettoride">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ticket To Ride"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.GameListActivity"
            android:label="Game List"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Activity.LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.GameLobbyActivity"
            android:label="Game List"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Activity.LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.LoginActivity" />
        </activity>

    </application>

</manifest>
